html {
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    padding: 0;
    margin: 0;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: green;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rebeccapurple;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 83, 192);
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.925);
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.minisidenav {
    height: 100vh;
    overflow: auto;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

h3 {
    color: rgba(255, 255, 255, 0.856);
}

th {
    width: 100vw;
    height: 50vh;
}

.video-warpper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9  res*/
    padding-top: 25px;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}
.video-warpper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    top: -60px;
    height: calc(100% + 120px);
}

.vid-info {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 25vh;
    left: 10vw;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 10px 15px 20px black;
    width: 80%;
}

@media all and (max-width: 600px) {
    .vid-info {
        padding: .5rem;
    }
}

@media all and (min-width: 900px) {
    .vid-info {
        font-size: 8rem;
    }
}
